[submodule "custom/themes/voodookit"]
	path = custom/themes/voodookit
	url = https://dominicvogl@github.com/dominicvogl/wp_voodookit_framework.git
	branch = develop
[submodule "custom/plugins/dv_jobpress"]
	path = custom/plugins/dv_jobpress
	url = https://dominicvogl@github.com/dominicvogl/wp_plugin_jobpress.git
[submodule "custom/plugins/eu-tracking-wp"]
	path = custom/plugins/eu-tracking-wp
	url = https://dominicvogl@github.com/dominicvogl/eu-tracking-wp.git
[submodule "custom/plugins/gutenberg-block-styles"]
	path = custom/plugins/gutenberg-block-styles
	url = https://dominicvogl@github.com/dominicvogl/gutenberg-block-styles.git
